.navbar{
    background-color: #0081C9;
}
.nav-link {
    color: white;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
.feature-section {
    background-image: url(img/mosque.jpg);
}
.feature {
    padding: 10% 0;
}

.btn {
    background-color: #0081C9;
    color: white;
    font-weight: bolder;
}
.btn:hover {
    background-color: #0081C9; 
    color: white;
}
.donate-btn:hover {
    background-color: transparent;
    border-color: white;
}